/target
/mail.nt
/output
/sample
*.nt
*.ttl
!mail-shapes.ttl
!mail-schema.ttl
*.nq
*.gz
.DS_Store

# QLever index files
*.index.*
*.vocabulary.*
*.text.*
*.prefixes
*.words
*.docs
qlever/mbox.*
Cargo.lock
convert_all.sh
